<div class ="container">

  <div class="row">
    <div class ="col-12 mx-auto">
      <h1>GetFriended</h1>
      <p>A social Media App you didn't know you needed.</p>
    </div>  
  </div>  
      <br> 
      <br>
      <br>

      <div class="row">
         <div class="col"> 
          
         <button type="button" class="btn btn-light btn-lg">Login</button>
         </div>
      <div class="col">
      <button type="button" class="btn btn-light btn-lg">Signup</button>
      
      </div>
      </div>   
      <div>
        <br>
        <br>
        <br>
      </div>     
</div>