<div class="container">

  <div class="row">  
    <div class="col-sm-6">
    <div class="mdc-card">
      <h1>Johnny Tsunami</h1>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Onrus_Surfer.jpg/640px-Onrus_Surfer.jpg">
      <p> I like Surfing</p>
      <div class= "mdc-card__ripple">
      <button type="button" class="btn btn-primary"> Add Friend </button>
      </div>
    </div>  
    </div>

    <div class="col-sm-6">
    <div class= "mdc-card">
      <h1> JohnDoe443 </h1>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Egyptian_Surfer.jpg/640px-Egyptian_Surfer.jpg">
      <p>I am cool </p>
      <div class="mdc-card__ripple">
      <button type="button" class="btn btn-primary"> Add Friend </button>
      </div>    
      </div> 
    </div>
  </div>  

  <div class="row">
    <div class="col-sm-6">
    <div class="mdc-card">
    <h1>Ashley334</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Pro_Surfers_Owen_Wright%2C_Gabriel_Medina_and_Miguel_Pupo_in_San_Francisco%2C_California_on_Nov._7th_2011._Photo_by_Ithaka_Darin_Pappas.jpg/640px-Pro_Surfers_Owen_Wright%2C_Gabriel_Medina_and_Miguel_Pupo_in_San_Francisco%2C_California_on_Nov._7th_2011._Photo_by_Ithaka_Darin_Pappas.jpg">
    <p> Me and the homies</p>
    <div class="mdc-card__ripple">
    <button type="button" class="btn btn-primary"> Add Friend </button>
    </div>    
    </div>  
    </div>

    <div class="mdc-card">
      <div class="col-sm-6">
      <h1>Marting1111</h1>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Surfer_and_Northern_elephant_seal_at_Drakes_Beach.jpg/640px-Surfer_and_Northern_elephant_seal_at_Drakes_Beach.jpg">
      <p> Hello bro </p>
      <div class="mdc-card__ripple">
      <button type="button" class="btn btn-primary"> Add Friend </button>   
      </div>    
    </div>  
    </div>  
  </div>
</div>  
<app-profile></app-profile>