<div class = "container">
  <div class = "row">
  <div class= "col-sm">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Onrus_Surfer.jpg/640px-Onrus_Surfer.jpg" class="img-fluid"> 
  </div>
    <div class="col-sm my-auto">
    <h1>Johnny Tsunami</h1>
    <p>I ride Waves </p> 
    </div>
  </div>  
</div>    

<br>
<br>

<div class="container">
  <div class="row">
  <div class="card">
  <div class="card-body">
   <h2>MightPete43</h2>
   This is some text within a card body.
   </div>
 </div>
 
 <div class="card">
 <div class="card-body">
  <h2>MightPete43</h2>
  This is some text within a card body.
  </div>
</div>

  </div>
  <div class="row">
  <div class="card">
  <div class="card-body">
   <h2>MightPete43</h2>
   This is some text within a card body.
   </div>
 </div>
 
 <div class="card">
 <div class="card-body">
  <h2>MightPete43</h2>
  This is some text within a card body.
  </div>
</div>

  </div>  
  <div class = "row">
  </div>  
</div>